<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Word</title>
</head>
<body>
    <h1>Delighted to see you here...</h1>
    <button onclick="generate()">Generate</button>
    <h3>Random word generated: </h3>
    <p><%= response %></p>
</body>
</html>